# movie recomendation system webapplication (modelling notebook)

In [1]:
# libraries
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import TruncatedSVD
import warnings
warnings.filterwarnings("ignore")

## dataset

In [2]:
movies = pd.read_csv("../dataset/movies.csv")
ratings = pd.read_csv("../dataset/ratings.csv")
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [3]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
movies.sample(10)

      movieId  ...                         genres
5792    31660  ...  Action|Animation|Drama|Sci-Fi
1015     1326  ...                         Horror
3187     4296  ...                  Drama|Romance
3914     5501  ...                 Comedy|Mystery
431       494  ...      Action|Adventure|Thriller
6363    49688  ...               Action|Drama|War
6594    55292  ...                         Comedy
8833   131920  ...                   Comedy|Drama
4972     7587  ...           Crime|Drama|Thriller
6290    47952  ...         Action|Horror|Thriller

[10 rows x 3 columns]

In [5]:
ratings.sample(10)

       userId  movieId  rating   timestamp
54537     358    69757     4.5  1339546356
88897     573    48385     5.0  1248839914
17144     109      355     3.0   841108665
43083     288    33166     4.0  1143473710
15285      99      325     2.0   829828006
5753       41     5989     4.0  1458939704
98667     608        2     2.0  1117490786
8845       62     3578     4.5  1521489618
19597     126      208     2.0   845925732
66473     428     1917     2.0  1111488871